<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Aaryaman Mehta Portfolio</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto">
	<link rel="stylesheet" href="fonts.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.min.js"></script>
  <script src="https://unpkg.com/vue-gamepad/dist/vue-gamepad.min.js"></script>
	<script src="js/startup.js"></script>
</head>

<body>
  <audio id="startup" src="./icons/startup.mp3" muted></audio>
  <div id="landingPage">
      <h1>Aaryaman Mehta</h1>
      <p>Welcome to my PS3-inspired portfolio!</p>
      <p style="font-size: 20px; line-height: 2.5">↵ Enter</p>
  </div>
  <script>
      document.addEventListener("keydown", function(event) {
          if (event.keyCode === 13) {
              var audio = document.getElementById('startup');
              audio.muted = false;
              audio.volume = 0.3;
              audio.play();        
              document.querySelector('#landingPage h1').classList.add('opaque');
              document.querySelectorAll('#landingPage p').forEach(function(p) {
                p.classList.add('opaque');
              });
              // wait 3 seconds before showing the div
              setTimeout(function() {
                var hiddenDivs = document.querySelectorAll('.hidden');
                hiddenDivs.forEach(function(div) {
                  div.classList.remove('hidden');
                  div.classList.add('appear');
                });}, 2500);
          }
      });
  </script>

  <audio id="nav" src="./icons/nav.mp3"></audio>
  <video id="video" class="hide-video" v-if="column.index != 0" autoplay loop muted>
    <source src="./icons/vid.mp4" type="video/mp4">
  </video>  

  <div id="xmb-contain" class="hidden">

  <div id="xmb" class="hidden">
    
    <ul>
      <li class="column" v-for="column,index in columns" v-bind:class="{active:column.active}" v-bind:style="{left:column.position.x+'px'}">
        <div class="cell" v-bind:class="{active:column.active}" v-on:click="highlightCell(column.index,0)"><img class="material-icons xmb-icon" v-bind:src="column.icon"></img>
          <label>{{column.title}}</label>
        </div>
        <ul>
          <li class="cell submenu" v-for="item,itemIndex in column.items" v-bind:class="{active:item.active}" v-bind:style="{top:item.position.y+'px'}" v-on:click="highlightCell(column.index,itemIndex)" v-bind:href="item.href"><a><img class="material-icons xmb-icon" v-bind:src="item.icon"></img>
              <label>{{item.title}}
                <label class="subtitle">{{item.subtitle}}</label>

              </label>

            </a>
   
            </li>  
       
        </ul>

      </li>

    </ul>
  </div>
</div>

<div id="popup" class="popup">
<p>hello</p>
</div>

  <script type="module" src="js/script.js"></script> 
</body>

</html>
